footer {
    background-color: #444440;
}
#survol span {
    color:#FF8807
}
#survol{
    position: relative;
    display: table;
    margin: auto;
}
#reward{
    position: relative;
    bottom: 33rem;
    display: table;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.8);
    opacity: 1;
    font-size: 25px;
    padding-right: 6rem;
    padding-left: 6rem;
    border-radius: 15px;
    transition: opacity 1s;
}
#prenom{
    position: relative;
    
    display: table;
    margin: auto;
    font-size: 15px;
    color: #000);
}
#image{
    opacity: 0.5;
}
#image:hover{
    opacity: 1;
}
#survol:hover #reward{
    opacity: 0;
}
#survol:hover #prenom{
    bottom: 24rem;
    font-size: 35px;
}

#fellows {
    background-color: #f4f1ea;
}
.card {
    margin-bottom: 3rem;
}

.card-body {
    padding: 0;
}
.card-body p {
    font-size: 2em;
    color: #000;
    margin: 0;
}

.position-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    filter: brightness(50%);
    transition: filter 1s;
}

#fellow-capture {
    position: relative;
}

.capture {
	opacity: 0.5;
	transition: opacity 1s;
}

.reward {
    display: table;
    margin: auto;
    font-size: 2em;
    text-align: center;
    color: #000;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding-right: 4rem;
    padding-left: 4rem;
    opacity: 1;
    transition: opacity 1s;
    box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.8);
}

.reward span {
	color: #E87934;
}

.wanted {
    display: table;
    margin: auto;
    color: white;
    font-size: 59px;
    text-align: center;
    transition: all 1s;
    margin-bottom: 134px;
}

#statut {
    color: #E87934;
    display: table;
    margin: auto;
    font-size: 3em;
    text-align: center;
}

#img-gimli .wanted {
    text-decoration: line-through #E87934;
}
.survol:hover .capture {
	opacity:1;
}

.survol:hover  .reward {
	opacity: 0;
}

.survol:hover .wanted {
	margin-bottom: 12px;
	font-size: 46px;
	text-align: center;
}

.position-text:hover {
    filter: brightness(100%);
}



.capture {
    opacity:0.5;
	transition: opacity 1s;
}

.survol:hover .capture {
	opacity:.1;
}

.survol:hover .capture {
	opacity: 1;
}

#img-gandalf {
    background: no-repeat center/100% url('https://nsa40.casimages.com/img/2019/03/01/190301081023311568.png');
    height: 441px;
}

#img-aragorn {
    background: no-repeat center/100% url('https://nsa40.casimages.com/img/2019/03/01/190301081025513649.png');
    height: 441px;
}

#img-gimli {
    background: no-repeat center/100% url('https://nsa40.casimages.com/img/2019/03/01/190301081023605758.png');
    height: 441px;
}


#fellows-subtitle {
    padding-top: 3.5rem;
    padding-left: 1rem;
}
#fellow-capture {
    position: relative;
}
.media-body h3 {
    color: #E87934;
    font-family: "Party Business";
    padding-left: 2rem;
    font-size: 48px;
    position: relative;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
.media-body span {
    padding-left: 2rem;
    font-size: 21px;
}
.media-body a {
    text-decoration: underline;
}
  

#fellows .col {
    width: 33%
}